body {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 100vw;
    align-items: center;
}

#btn {
    height: 130px;
    width: 130px;
    border: 5px solid black;
    border-radius: 25px;
}

#btn-container {
    display: grid;
    grid-template-rows: 150px 150px;
    grid-template-columns: 150px 150px;
}

.btn1 {
    background-color: rgb(228, 107, 127);
}

.btn2 {
    background-color: rgb(14, 119, 119);
}

.btn3 {
    background-color: orange;
}

.btn4 {
    background-color: rgb(104, 104, 245);
}

.flash {
    background-color: white;
}

.userFlash {
    background-color: green;
}