body {
    height: 40vh;
    width: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}

div {
    text-align: center;
    border: 1px solid black;
    height: 30%;
    width: 70%;
    margin-top: 10px;
}